$button-size: 49px;
$button-background: rgba(245, 245, 255, 0.2);
$navigation-background: rgba(245, 245, 255, 0.2);
$navigation-margin: 16px;
$indicator-background-active: rgba(245, 245, 255, 0.8);
$indicator-background: $navigation-background;
$button-radius: 16px;
$button-blur: blur(40px);
$navigation-text-color: white;
$container-spacing: 8px;

.global-nav {
	position: fixed;
	display: flex;
	align-items: center;
	inset: 0;
	z-index: 1;
	pointer-events: none;

	.navigation {
		margin-block: auto;
		display: flex;
		isolation: isolate;
		color: white;
		pointer-events: all;

		.nav-item-container {
			padding: $container-spacing;
			display: grid;
			grid-template-rows: repeat(5, 1fr);
			gap: $container-spacing;
			background-color: $navigation-background;
			border-radius: calc($button-radius + $container-spacing);
			backdrop-filter: $button-blur;
			margin-inline: 16px;
			margin-block: 16px;

			.nav-items {
				display: contents;

				.nav-item {
					display: flex;
					position: relative;
					align-items: center;
					pointer-events: auto;

					.nav-item-button {
						width: $button-size;
						height: $button-size;
						display: flex;
						align-items: center;
						justify-content: center;
						border-radius: $button-radius;
						cursor: pointer;
					}
					.nav-item-copy {
						position: absolute;
						pointer-events: none;
						color: white;
						width: max-content;
						left: calc($button-size + $container-spacing * 3);
					}
				}
			}
		}

		.nav-indicator-wrapper {
			min-width: 44px;
			display: flex;
			align-items: center;
			pointer-events: auto;
			padding-left: 16px;

			.nav-indicator {
				width: 10px;
				height: 120px;
				background-color: $indicator-background;
				border-radius: 99px;
				cursor: pointer;
			}

			// State
			&:hover .nav-indicator {
				background-color: $indicator-background-active;
			}
		}
	}
}

// State

//animation
$offset-distance: calc(calc($button-size + $container-spacing * 2 + $navigation-margin) * -1);

.navigation {
	transform: translateX($offset-distance);
	transition: transform 500ms cubic-bezier(0.6, 0, 0.3, 1);

	.nav-indicator {
		opacity: 1;
		transform: translateX(0px);
		transition: transform 800ms cubic-bezier(0.77, 0, 0.18, 1), opacity 1000ms ease, background-color 200ms ease;
	}

	.nav-item-copy {
		opacity: 0;
	}
}

.navigation.is-hovering {
	transform: translateX(0px);

	.nav-indicator {
		opacity: 0;
		transform: translateX(20px);
	}

	.nav-item-copy {
		opacity: 0;
		transform: translateY(20px);
		filter: blur(20px);
		transition: opacity 200ms ease, filter 400ms ease, transform 400ms ease;
	}

	.nav-item-button {
		transform: scale(1);
		background-color: transparent;
		transition: transform 200ms ease;

		&:hover {
			background-color: $button-background;
			transform: scale(1.2);
		}

		&:hover + .nav-item-copy {
			opacity: 1;
			transform: translateY(0px);
			filter: blur(0px);
		}
	}
}
